@import "tailwindcss";

* {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#nav:hover{
  cursor: pointer;
  color: #006093;
  text-decoration: underline;
}